.personal {
  display: flex;
  flex-direction: column;
}

.personal h2 {
  border: none;
  margin: 0;
}

.personal p {
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid var(--color-primary);
}

.contact {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.contact img {
  width: 18px;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
