.preview {
  width: 210mm;
  height: 297mm;
  flex-shrink: 0;
  background-color: #fff;
  position: sticky;
  top: 2rem;
  border-radius: 2px;
  padding: 6rem 4rem;
}

.experience-section {
  margin-bottom: 2rem;
}

.education-section {
  margin-bottom: 0.8rem;
}

.date {
  flex-shrink: 0;
}
