.preview {
  width: 210mm;
  height: 297mm;
  flex-shrink: 0;
  background-color: #fff;
  position: sticky;
  top: 2rem;
  border-radius: 0.2rem;
  padding: 6rem 4rem;
}

.experience-section {
  margin-bottom: 2rem;
}

.education-section {
  margin-bottom: 0.8rem;
}

.date {
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .preview {
    width: 90vw;
    height: 127vw;
  }
}
