.theme-selector {
  position: absolute;
  right: 5rem;
  top: 4rem;
}

.theme-buttons div {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 1.5rem;
  border-radius: 50%;
}

.theme-buttons div:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) !important;
}
