*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #1ca186;
  --color-primary-light: #bae4dc92;
  --color-primary-btn: #89ffd7;
  --color-text: #282828;
  --color-text-light: #4e4d4d;
  --color-bg: #333;
  --color-form-bg: rgb(91, 89, 89);
  --color-input-bg: rgb(127, 125, 125);
  --color-btn-bg: #518479cc;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  font-size: 5rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  display: inline-block;
  border-bottom: 2px solid var(--color-primary);
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  position: relative;
  padding: 5rem;
}

.details {
  display: flex;
  justify-content: space-between;
}
